# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/build-zip

# misc
.DS_Store
.eslintcache
.env.local
.env.development.local
.env.test.local
.env.production.local
.history
*.log

# secrets
secrets.production.js
secrets.development.js
get-pass-key.js
getPassKey.js

.idea

business/prod