.my-editor,
.prism-editor-wrapper {
  color: #ccc;
  font-family: JetBrains Mono, Fira code, Fira Mono, Consolas, Menlo, Courier,
    monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
  @apply bg-gray-900 rounded-lg;
}
.prism-editor__textarea:focus {
  outline: none;
}
